<!--Lists all movies from search with information about each movie.-->
<section class="container">
  <div class = "row">
    <div class="col-md">
      <a href="/movie-import/{{id}}">Review this film</a>
    </div>
    {{#if poster_path}}
    <div class="col-md">
      <img src='https://image.tmdb.org/t/p/original/{{poster_path}}'>
    </div>
    {{else}}
    <div class="col-md">
      <img src="/No-Image-Placeholder.svg">
    </div>
    {{/if}}
    <div class="col-md">
        <p>{{title}}</p>
        <p>{{overview}}</p>
        <p>{{release_date}}</p>
    </div>
  </div>
</section>