<section class="container">
  <div class = "row">
    <div class="col-md">
      <h3 id="movie_id" movie_id="{{reviews.movie.id}}">{{reviews.0.title}}</h3>
    </div>
    {{#each reviews as |review|}}
      <div class = "review-container rounded-4 gy-5">
        <div class="review-header row border border-dark">
          <div class="col-md">
            <h5>Review</h5>
          </div>
          <div class="col-md text-end">
            <p>Reviewed by {{review.reviewer.username}}</p>
          </div>
        </div>
        <div class="row">
          <p>{{body}}</p>
        </div>
      </div>
    {{/each}}
    <div class="row gy-5">
      <a href="/add-review/{{reviews.0.movie_id}}">Review this film</a>
    </div>
  </div>
</section>

<script src="/js/reviews.js"></script>