<section class="container">
  <div class = "row">
    <div class="col-md">
      <button type="button" class="btn btn-dark" id="review-btn" movie_id="{{id}}">Review this film</button>
    </div>
    <div class="col-md">
      <img src='{{poster_path}}'>
    </div>
    <div class="col-md">
        <p>{{title}}</p>
        <p>{{overview}}</p>
        <p>{{release_date}}</p>
    </div>